

.caixa_formulario {
    background: white;
    width: 400px;
    height: 300px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario button {
    margin-top: 10px;
    background: rgb(216, 45, 45);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(121, 121, 243);
    border-radius: 10px;
}


.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario2 input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(121, 121, 243);
    border-radius: 10px;
}

.formulario2 button {
    margin-top: 10px;
    background: rgb(216, 45, 102);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.formulario2 {
    background: white;
    width: 400px;
    height: 400px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario2 span {
    margin-right: 150px;
}

.formulario2 .conf_senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
